# Database Configuration
#local database in my system 
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/pharma_complaints

SQLITE_FALLBACK_URL=sqlite+aiosqlite:///./pharma_complaints.db

# Groq AI Model Settings
GROQ_API_KEY=your_groq_api_key_here
MODEL_NAME=gemma2-9b-it

# Application Settings
APP_NAME="Pharma AI Complaint Management System"
API_V1_STR=/api/v1
CORS_ORIGINS=["http://localhost:5173", "http://localhost:3000"]
DEBUG=True
